<footer>
  <div class="container">
    <hr />
    <div class="footer-container">
      <nav>
        <ul class="social">
          <li><a href="https://github.com/thibaultcha"><i class="icon-github-circled"></i></a></li>
          <li><a href="https://www.linkedin.com/in/thibaultcha"><i class="icon-linkedin-squared"></i></a></li>
          <li><a href="https://stackoverflow.com/users/1437192/thibaultcha"><i class="icon-stackoverflow"></i></a></li>
          <li><a href="https://twitter.com/thibaultcha"><i class="icon-twitter-squared"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
