---
layout: default
header: false
---

<div class="row">
  <div class="twelve columns">
    <article class="me">
      <img src="https://gravatar.com/avatar/3225f0e3fdc6fc9a8d05f47710b1dade?s=600" alt="thibaultcha" />
      <h1>{{ site.name }}</h1>
      <p>{{ site.job_title | markdownify }}</p>
      <p>{{ site.description | markdownify }}</p>
    </article>
  </div>
</div>

<div class="row">
  <section class="twelve columns">

    <article class="category">
      <h2><a name="contributions" href="#contributions">Main projects &amp; contributions</a></h2>
      <ul>
        {% for project in site.data.open_source.contributor %}
          <li>{% if project.link %}<a href="{{ project.link }}">{{ project.name }}</a>{% else %}{{ project.name }}{% endif %}{% if project.description %}<span class="description">: {{ project.description }}</span>{% endif %}</li>
        {% endfor %}
      </ul>
    </article>

    <article class="category">
      <h2><a name="projects" href="#projects">Libraries &amp; misc</a></h2>
      <ul>
        {% for project in site.data.open_source.projects %}
          <li>{% if project.link %}<a href="{{ project.link }}">{{ project.name }}</a>{% else %}{{ project.name }}{% endif %}{% if project.description %}<span class="description">: {{ project.description }}</span>{% endif %}</li>
        {% endfor %}
      </ul>
    </article>

    <article class="category">
      <h2><a name="talks" href="#talks">Talks</a></h2>
      {% for talk in site.data.talks %}
        <article class="talk">
          <h3 class="talk-title"><a name="{{ talk.title }}" href="#{{ talk.title | slugify }}">{{ talk.title }}</a></h3>
          <p class="talk-event">
            <a href="{{ talk.event.link }}">{{ talk.event.title }}</a>
            - {{ talk.event.location }}
          </p>
          <p>
            <a href="{{ talk.slides }}">Slides</a>
            {% if talk.video %} - <a href="{{ talk.video }}">Video</a>{% endif %}
          </p>
          <blockquote>{{ talk.description }}</blockquote>
        </article>
      {% endfor %}
    </article>

  </section>
</div>
