---
layout: default
no_header: true
---

<div class="row">
  <div class="twelve columns">
    <article class="me">
      <img src="/assets/images/thibault.jpg" alt="thibaultcha" />
      <h1>{{site.title}}</h1>
      <p>Hello, I am Thibault, a <span id="age">24</span> year old developer.</p>
      <p>Currently building the API Economy at <a href="https://www.mashape.com">Mashape</a>.</p>
    </article>
  </div>
</div>

<div class="row">
  <section class="twelve columns">
    <h4>Open Source</h4>
    <article class="open-source">
      <h5>Projects</h5>
      <ul>
        {% for project in site.data.open_source.projects %}
          <li>{% if project.link %}<a href="{{ project.link }}">{{ project.name }}</a>{% else %}{{ project.name }}{% endif %}{% if project.description %}<span class="description">: {{ project.description }}</span>{% endif %}</li>
        {% endfor %}
      </ul>
    </article>
    <article class="open-source">
      <h5>Contributions</h5>
      <p>As an avid open-source lover, I try to contribute as much as I can to projects and ecosystems I love. Most frequently:</p>
      <ul>
        {% for project in site.data.open_source.contributions %}
          <li>{% if project.link %}<a href="{{ project.link }}">{{ project.name }}</a>{% else %}{{ project.name }}{% endif %}{% if project.description %}<span class="description">: {{ project.description }}</span>{% endif %}</li>
        {% endfor %}
      </ul>
    </article>
  </section>
</div>

<script>
  ;(function () {
    var birthday = new Date('1991-09-08T16:08:00')
    /**
     * From experience, I'm tired of having to manually update this every year.
     */
    window.onload = function () {
      var $ageSpan = document.getElementById('age')
      var age = (new Date() - birthday) / 1000 / 60 / 60 / 24 / 365
      $ageSpan.innerHTML = parseInt(age, 10)
    }
  })()
</script>
