//---------------
// Variables

@san_francisco: #C0362C;
@main-color: @san_francisco;

//---------------
// Base CSS

body {
  border-top: 3px solid @main-color;
}

a {
  color: @main-color;
  text-decoration: none;
}
