.me {
  padding: 4rem 0;
  text-align: center;

  img {
    width: 100px;
    border-radius: 50%;
  }

  h1 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 0;
  }
}

.category {
  margin-bottom: 3rem;

  h2 {
    margin-bottom: 2rem;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 5px;

      a {
        font-weight: bold;
      }
    }
  }
}

.talk {
  margin-bottom: 4rem;

  &:last-child {
    margin-bottom: 0;
  }

  .talk-title {
    margin: 0;
  }

  .talk-event {
    margin: 1.5rem 0;
  }
}
