article.me {
  padding: 8rem 0;
  text-align: center;

  img {
    width: 100px;
    border-radius: 50%;
  }

  p {
    margin-bottom: 0;
  }
}

.open-source {
  ul {
    list-style: none;

    li {
      margin-bottom: 5px;

      a {
        font-weight: bold;
      }
    }
  }

  article {
    margin: 0 auto;
  }
}
